.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.result{
    font-size: 32px;
    margin-top: 24px;
    color: #fff;
}